**/node_modules
**/node_modules/**
services/**/browser_state_*
services/*/scraper
services/*/parser
services/*/discovery
services/*/*.exe
services/**/__tests__
services/**/examples
**/*_test.go
cmd/
docs/
infra/
scripts/
**/*.md
**/*.signature.md
**/*.sh
**/*.ps1
**/*.code-workspace
**/.env*
**/*.exe
.git
.DS_Store
.devcontainer
.github
**/tmp
**/*.test